/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1em;
}
a {
    text-decoration: none;
    color: inherit;
}
ul li {
    list-style-type: none;
}



/* UTILITY */
.debug, 
.debug * {
    border: 2px dashed red;
    background-color: #ff000022;
}
.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
.wrapper {
    display: flex;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
section {
    padding: 2rem 0;
}
.box {
    min-height: 10vh;
}



/* HEADER */
.main-header {
    padding: 1rem;
}
.main-header .logo {
    flex: 1 1 0;
    padding: .5rem;
}
.main-header .menu {
    flex: 3 1 0;
    padding: .5rem;
}
.main-header .menu ul {
    display: flex;
    justify-content: center;
}
.main-header .menu a {
    padding: .25rem;
}
.main-header .login {
    flex: 1 1 0;
    padding: .5rem;
    text-align: end;
}



/* MAIN */
main {
    /* padding: 1rem; */
    flex-grow: 1;
}
.hero .box {
    min-height: 33vh;
}
.left .box,
.right .box {
    min-height:50vh;
}
.box-small {
    max-width: 80%;
    margin: 0 auto;
}
.box-accent {
    flex: 1 1 66%;
}
.box-neutral {
    flex: 1 1 33%;
}
.right .box-accent {
    order: 1;
}
.big .box {
    min-height: 75vh;
}



/* FOOTER */
footer {
    padding: 1rem;
}